if SHIELD_MTSPLIT2_LEFT

config ZMK_KEYBOARD_NAME
    default "mtsplit2-choc"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_MTSPLIT2_LEFT || SHIELD_MTSPLIT2_RIGHT || SHIELD_MTSPLIT2_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif