config SHIELD_MTSPLIT2_LEFT
    def_bool $(shields_list_contains,mtsplit2_left)

config SHIELD_MTSPLIT2_RIGHT
    def_bool $(shields_list_contains,mtsplit2_right)

config SHIELD_MTSPLIT2_DONGLE
    def_bool $(shields_list_contains,mtsplit2_dongle)